@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

body {
    font-family: "Unbounded", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #141414;
    color: white;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 0.8vi;
}

body::-webkit-scrollbar-track {
    background-color: #181818;
}

body::-webkit-scrollbar-thumb {
    border: solid #6E2415;
    background-color: #161616;
    border-radius: 1vi;
}

body.scroll {
    overflow: hidden;
}

.Intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    height: 70vh;
    background-color: #161616;
    margin: 5vh;
    font-size: 3vi;
    border-radius: 5vi;
    border: solid #6E2415;
}

.Contest {
    display: block;
    margin-left: 5vi;
    image-rendering: pixelated;
}

.Brick {
    position: absolute;
    margin-left: 50vi;
    height: 30vi;
}

.IntroDown {
    display: grid;
    width: 90vw;
    background-color: #161616;
    height: 15vh;
    border: solid #6E2415;
    border-radius: 5vi;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: repeat(3, 30%);
    gap: 5%;
    grid-template-areas:
    ". . B"
    "A . C"
    ". . D";
}

.Theme {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: A;
    font-size: 2vi;
    margin-left: 5vi;
}

.Teacher {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: B;
    font-size: 1vi;
}

.Author {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: C;
    font-size: 0.9vi;
}

.School {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: D;
    font-size: 0.8vi;
}

.Gradient {
    width: 100%;
    height: 10vi;
    background: linear-gradient(180deg, #141414 10%, #0f0f0f 100%);
}

.Basement {
    display: grid;
    grid-template-columns: 5% 20% 50% 20% 5%;
    grid-template-rows: repeat(7, 1fr);
    background-color: #0f0f0f;
    width: 100%;
    height: 80vi;
    grid-template-areas:
    ". A . . ."
    ". . . B ."
    ". C . . ."
    ". . . D ."
    ". E . . ."
    ". . . F ."
    ". S . . ."
    ;
}

#OneBlock {
    rotate: 5deg;
    grid-area: A;
}

#TwoBlock {
    rotate: -5deg;
    grid-area: B;
}

#ThreeBlock {
    rotate: 5deg;
    grid-area: C;
}

#FourBlock {
    rotate: -5deg;
    grid-area: D;
}

#FiveBlock {
    rotate: 5deg;
    grid-area: E;
}

#SixBlock {
    rotate: -5deg;
    grid-area: F;
}

#SevenBlock {
    rotate: 5deg;
    grid-area: S;
}

.Box {
    padding: 2vi;
    text-align: center;
    font-size: 1.4vi;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vi;
    height: 1vi;
    background-color: #161616;
    border-radius: 5vi; 
    border: solid #6E2415;
    transition: 500ms ease;
    filter: blur(0.3vi);
}

.Box:hover {
    filter: blur(0vi);
    scale: 1.05;
    cursor: pointer;
}

.PanelWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: 300ms ease;
    visibility: hidden;
}

.PanelWindow.visible {
    visibility: visible;
}

.WallGIF {
    position: absolute;
    width: 100%;
    height: 100%;
}

.PanelBase {
    height: 20vi;
    width: 60vi;
    scale: 0;
    transition: 500ms ease;
}

.PanelBase.visible {
    overflow: visible;
    scale: 1;
}

.PanelVoice {
    display: grid;
    grid-template-columns: 25% 65% 10%;
    grid-template-rows: 15% 70% 15%;
    margin-bottom: 2%;
    height: 20%;
    background-color: #161616;
    border: solid #6E2415;
    border-radius: 5vi;
    grid-template-areas:
    ". . ."
    ". A ."
    ". . .";
}

.Character {
    width: 10vi;
    image-rendering: pixelated;
    position: absolute;
    z-index: 1;
    margin-right: 46vi;
    margin-bottom: 22vi;  
    overflow: hidden;
    transition: 500ms ease;
    scale: 0;
}

.Character.visible {
    scale: 1;
    overflow: visible;
}

.ControlVoice {
    background-color: #101010;
    border: solid 0.1vi #242424;
    border-radius: 5vi;
    grid-area: A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

audio {
    width: 50vi;
    height: 100%;
}

audio::-webkit-media-controls-panel {
    background-color: #6E2415;
}

.PanelText {
    background-color: #161616;
    height: 70%;
    border: solid #6E2415;
    border-radius: 5vi;
}

.Text {
    font-size: 1.5vi;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

.ArrowLeft {
    scale: 0;
    transition: 1000ms ease;
    overflow: hidden;
    position: absolute;
    margin-top: 5vi;
    margin-right: 65vi;
    border: 2vi solid transparent;
    border-right: 2vi solid #6E2415;
    border-radius: 10vi;
}

.ArrowLeft.visible {
    scale: 1;
    overflow: visible;
}

.ArrowLeft:hover {
    scale: 1.1;
    cursor: pointer;
}

.ArrowRight {
    scale: 0;
    transition: 1000ms ease;
    overflow: hidden;
    position: absolute;
    margin-top: 5vi;
    margin-left: 65vi;
    border: 2vi solid transparent;
    border-left: 2vi solid #6E2415;
    border-radius: 10vi;
}

.ArrowRight.visible {
    scale: 1;
    overflow: visible;
}

.ArrowRight:hover {
    scale: 1.1;
    cursor: pointer;
}

.Close {
    position: absolute;
    margin-left: 96vi;
    margin-bottom: 48vi;
    font-size: 2vi;
    transition: 300ms ease;
    visibility: hidden;
    scale: 0;
}

.Close.visible {
    scale: 1;
    visibility: visible;
}

.Close:hover {
    cursor: pointer;
    scale: 1.1;
    color: #6E2415;
}